training/__pycache__/*
models/__pycache__/*
preprocessing/__pycache__/*
utils/__pycache__/*
config/__pycache__/*
data/__pycache__/*
.vscode/settings.json
downloaded_images/*
utils/downloaded_images/*
data/cifar*
wandb/*
VDKI-Hasen/*
lightning_logs/*
checkpoints/*
